@model CloudComputingProject.Models.OrderItem

@{
    ViewData["Title"] = "CreateOrderItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>OrderItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrderItem" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Product ID</label>
                <span class="form-control" readonly>@Model.ProductId</span>
                <input type="hidden" asp-for="ProductId" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Flavors" class="control-label">Select Flavors (Hold Ctrl/Cmd to select multiple)</label>
                <div id="flavor-selection">
                    @foreach (var flavor in ViewBag.Flavors)
                    {
                        <div class="checkbox">
                            <input type="checkbox" class="flavor-checkbox" name="flavors" data-max-flavors="@ViewBag.product.MaxFlavorsNumber" value="@flavor.Id" />
                            <label for="SelectedFlavors">@flavor.FlavorName</label>
                            <img src="@flavor.FlavorUrl" alt="@flavor.FlavorName" height="70px" width="70px" />
                        </div>
                    }
                </div>
                <span asp-validation-for="Flavors" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Products" asp-action="ProductsMenu">Back to List</a>
</div>

@section Scripts {
    <script>
        // JavaScript code to handle flavor selection
        $(document).ready(function () {
            $('.flavor-checkbox').on('change', function () {
                var selectedFlavors = $('.flavor-checkbox:checked');
                var maxFlavors = $(this).data('max-flavors');

                if (selectedFlavors.length > maxFlavors) {
                    $(this).prop('checked', false);
                    alert('You can select up to ' + maxFlavors + ' flavors.');
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
