@model CloudComputingProject.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <h1 class="mt-4">Product Details</h1>

    <div class="row">
        <div class="col-md-4">
            <img src="@Model.Url" alt="@Model.Name" class="img-fluid rounded" />
        </div>
        <div class="col-md-8">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <dl class="row">
                <dt class="col-sm-4">Category:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Category)</dd>
                <dt class="col-sm-4">Price:</dt>
                <dd class="col-sm-8">$@Html.DisplayFor(model => model.Price)</dd>
                <dt class="col-sm-4">Availability:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IsAvailable)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
